@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --cor-vermelha: #ff3131;
  --cor-preta: black;
  --cor-branca: white;
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  
  
}

#conteudo-principal {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 11fr;
}

/* Estilizando o Menu Lateral */
#menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  max-width: 300px;
  padding: 50px 10px 50px 0px;
  border-right: 2px solid var(--cor-vermelha);
  color: var(--cor-vermelha);
  font-family: "Open Sans", sans-serif;
}

#logo-doe-vida {
  max-height: 100px;
  max-width: 100px;
}

#logo-doe-vida,
#menu-lateral > h1 {
  font-size: 2rem;
  margin: 0px auto;
}

#nav-menu-lateral {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 2rem;
}

.btn-menu-lateral {
  padding: 10px 0;
}

.link-menu-lateral {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-vermelha);
  text-decoration: none;
  margin-left: 20px;
}

.icon-menu-lateral {
  height: 30px;
}
/* Fim do Menu Lateral */

/* Estilizando o Menu Superior */
#div-tela-inical {
  width: 100%;
}

#cabecalho-tela-inicial {
  width: 100%;
  height: 100px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--cor-vermelha);
  font-family: "Open Sans", sans-serif;
  color: var(--cor-vermelha);
}

#btn-perfil-usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 70px;
  padding: 0px 30px;
  border: 2px solid var(--cor-vermelha);
  border-radius: 40px;
  text-decoration: none;
  color: var(--cor-preta);
}

.dados-usuario {
  color: var(--cor-vermelha);
  font-size: 0.8rem;
}

.icon-menu-superior > img {
  height: 30px;
}
/* Fim do Menu Superior */

/* Estilizando Carrossel de Campanhas */
#carrossel-campanhas {
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.img-campanha > img {
  height: 150px;
  width: 450px;
  border: 2px solid var(--cor-vermelha);
  border-radius: 40px;
}

/*CSS das páginas de campanha*/

/*CSS da página que exibe a campanha atual*/

.texto-inicial {
  text-align: center;
  color: #ff3131;
  font-size: 40px;
  padding: 50px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.img-campanhas {
  
  align-items: center;
  margin: auto;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  max-width: 100%;
  width: 815px;
  aspect-ratio: 16/6;
  
}

.texto-final {
  color: #ff3131;
  position: relative;
  left: 450px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  
}
.tipo-sanguineo {
  margin-left: 560px;
  padding: 5px;
  color: #ff3131;
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  
}

.div-final-campanha {
  display: flex;
  position: relative;
  
}

.links-campanha a{
  text-decoration: none;
  color: #ff3131;
}

.icones-campanhas{
  vertical-align: middle;
  width: 20px;
  height: auto;
  margin-right: 4px;
}


/* CSS da página que exibe as campanhas*/


.texto-inicial-tela2 {
  position: relative;
  color: #ff3131;
  font-size: 80px;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
}

#img-icon {
  margin-right: 200px;
  margin-top: 20px;
  width: 100px;
  height: 90px;
}

#title_align{
  margin-left: 9.5rem;
}

.card{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 45px;
  margin: 2rem auto;
  max-width: 1200px;
  cursor: pointer;
    
}

.item {
    
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden; /* Garante que a imagem não saia dos limites do card */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ajuste a altura máxima conforme necessário */
  object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorcer */
  border-radius: 10px;
  margin-bottom: 1rem;
  aspect-ratio: 11/6;
}

.item h3 {
  font-size: 1rem;
  color: var(--secundaria);
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 #7c7980;
}


/*Responsividade da página que exibe a campanha atual*/
@media (min-width: 320px) and (max-width:780px) {


.texto-inicial {
  font-size:15px;
  padding: 20px;
}

.img-campanhas {
  width: 350px;
  aspect-ratio: 16/9;
  padding: 10px;
}

.texto-final {
  left: 100px;
  font-size: 10px;
}
.tipo-sanguineo {
  margin-top: -25px;
  margin-left: 90px;
  padding: 20px;
  font-size: 20px;
}

.icones-campanhas{
  margin-right: 1px;
}
}

/*Responsividade da página que exibe as campanhas*/
@media (min-width: 320px) and (max-width:780px) {
  
  
.texto-inicial-tela2 {
  position: relative;
  padding: 15px;
  margin: 0 auto;
  margin-top: 10px;  
}
#title_align{
  margin-left: 2.5rem;
  margin-top: 20px;
  font-size: 25px;
 
}
#img-icon{
  height: 30px;
  width: 30px;
  margin-top: 23px;
  margin-right: 15px;
    
}
.card{
  max-width: 370px;
  margin-top: 40px;  
   
}
.item {   
 border-radius: 20px;
 margin-top: -40px; 
}
} 
